	<div class="footer_bottom">
		<div class="footer_text">
			Built by <a href="https://github.com/jhenley45" target="blank">Jack Henley</a> for <a href="http://www.generalassemb.ly" target="blank">General Assembly</a> in Boston.
		</div>
	</div>
