<div class="user_score">
	Score: <%= current_user.rounds.last.score %>
</div>
<div class="user_level">
	Level: <%= current_user.rounds.last.level %>
</div>
<% if @person.present? %>
	<div class="countdown_timer">
		 <span id="countdown_time"><%= initial_time %></span>
	</div>
		<script>
			window.onload = function() { MovieApp.startTimer(<%= initial_time %>); };
		</script>
<% end %>
